body 
{
    font-family: 'Open Sans', sans-serif;
    background: #005030;
    display: grid;
    place-items: center; 
}

.corner-logo
{
    position: fixed;   
    top: 15px;      
    left: 15px;     
    width: 50px;         
}

#quiz-container 
{
    position: relative;  
    top: 100px;      
    padding: 100px;
    text-align: center;
    background-color: white;    
    width: 100%;  
}

#question 
{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 20px;
    color: #F7931D;
}

form 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
    margin-bottom: 25px;
    color: black;
    font-size: 20px;

}


#submit 
{
    background: #F7931D;
    color: white;
    font-size: 20px;
    font-weight: 400;

    border-radius: 10px;
    border-color: #F7931D;
    margin-top: 25px;
    padding: 20px;
}


#result 
{
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: black;
}
